<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    li input[type=text] {
      display: none;
    }

    li.edit span {
      display: none;
    }

    li.edit input[type=text] {
      display: inline-block;
    }
  </style>
  <script type="text/javascript" src="public/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="public/can.all.js"></script>
</head>
<body>


<script type="text/template" id="todo-create-tmpl">
  <input type="text" placeholder="请填写你的任务" id="new-todo" {($value)}="todo.name" ($enter)="createTodo()" />
</script>
<script type="text/template" id="todo-list-tmpl">
  <ul id="todo-list">
    {{#each todos}}
    <li tid="{{id}}" class="{{#if isEditing(this)}}edit{{/if}}">
      <input type="checkbox" {($checked)}="isTick" ($change)="save()" tid="{{isTick}}" />
      <span ($dblclick)="edit(this)">{{name}}</span>
      <input type="text" {($value)}="name" {$focused}="isEditing(this)" ($blur)="updateName()" />
      <button ($click)="destroy()">删除</button>
    </li>
    {{/each}}
  </ul>
  <span class="unf-len">还剩下<b>{{len}}</b>个未完成的任务</span>
  <a href="#all" id="all-btn">所有任务</a>
  <a href="#unf" id="unf-btn">未完成的任务</a>
  <a href="#f" id="f-btn">已完成的任务</a>
  <a href="javascript:;" id="del-all-btn" ($click)="destroyF()" >删除所有已完成的任务</a>
</script>
<script type="text/template" id="todolist-tmpl">
  <h1>任务列表</h1>
  <todo-create />
  <todo-list {todos}="todosPromise.value" {len}="todosPromise.value.unf.length" />
</script>

</body>
<script>
  //  var todoAlgebra = new can.set.Algebra(
  //    can.set.props.boolean("isTick"),
  //    can.set.props.id("id")
  //  );

  var Todo = can.DefineMap.extend({
    id: "number",
    name: "string",
    isTick: {type: "boolean", value: false}
  });
  Todo.List = can.DefineList.extend({
    "#": Todo,
    get unf() {
      return this.filter({isTick: false});
    },
    get f() {
      return this.filter({isTick: true});
    }
  });

  can.connect.superMap({
    url: "/todos",
    Map: Todo,
    List: Todo.List,
    name: "todo"
//    algebra: todoAlgebra
  });

  var TodoCreateVM = can.DefineMap.extend({
    todo: {Value: Todo},
    createTodo: function () {
      this.todo.save().then(function () {
        this.todo = new Todo();
      }.bind(this));
    }
  });
  can.Component.extend({
    tag: "todo-create",
    view: can.stache.from("todo-create-tmpl"),
    ViewModel: TodoCreateVM
  });

  var TodoListVM = can.DefineMap.extend({
    todos: Todo.List,
    len:"number",
    editing: Todo,
    isEditing: function(todo){
      return todo === this.editing;
    },
    edit: function(todo){
      this.todos = this.otodos.filter(function (n) {
        return n.isTick  == 0;
      });
      this.editing = todo;
    },
    updateName: function() {
      this.editing.save().then(function () {
        this.editing = null;
      }.bind(this));
    },
    destroyF: function () {
      this.todos.f.each(function (todo) {
        todo.destroy();
      });
    }

  });
  can.Component.extend({
    tag: "todo-list",
    view: can.stache.from("todo-list-tmpl"),
    ViewModel: TodoListVM
  });

  var AppVM = can.DefineMap.extend({
    filter: "string",
    get todosPromise(){
      if(!this.filter || this.filter === 'all'){
        return Todo.getList({});
      }else if(this.filter === 'f'){
        return Todo.getList({isTick:1});
      }else if(this.filter === 'unf'){
        return Todo.getList({isTick:0});
      }
    }
  });

  var appVM = new AppVM();
  can.route.data = appVM;
  can.route("{filter}");
  can.route.ready();

  var tmpl = can.stache.from("todolist-tmpl");
  var frag = tmpl(appVM);
  document.body.innerHTML = '';
  document.body.appendChild(frag);


</script>
</html>
