<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="public/jquery.js"></script>
    <style>
    	.text2{display: none;}
    	.del{text-decoration: line-through;}
    </style>
</head>
<body>



<!-- 这是这个列表的数据结构 [
        {"id":1,"name":"学前端","isTick":1},
        {"id":2,"name":"学后端","isTick":0},
      {"id":3,"name":"学测试","isTick":1}
    ]-->
<!--isTick默认为0-->
<h1>任务列表</h1>
<input type="text" placeholder="请填写你的任务" class="text1">
<ul>

</ul>

<span class="span1">还剩下<b></b>个未完成的任务</span>
<a href="javascript:;" id="alljob">所有任务</a>
<a href="javascript:;" id="unfinished">未完成的任务</a>
<a href="javascript:;" id="finised">已完成的任务</a>
<a href="javascript:;" id="dallf">删除所有已完成的任务</a>

<script>

	//先定义一个新的空数组
	var arr = [];

	$.get('http://localhost:3000/list',function(data){
		arr = data;
		rand(arr);
	});

	$('.text1').on('keydown',function(e){
		var str = $(this).val().trim();
		if(e.keyCode == 13 && str !=''){
			$.post('http://localhost:3000/add',{name:str},function(data){
				var data = JSON.parse(data);
				if(data.status!="0"){
					arr = data.data;
					rand(arr);
				}
			});
		}
	})
	$('ul').on('click','button',function(){
		var $li = $(this).parent();
		var id = $li.attr('tid');
		$.post('http://localhost:3000/del',{id:id},function(data){
			var data = JSON.parse(data);
			if(data.status=='1'){
				$li.remove();
			}
		})
	})
	$('ul').on('click','input[type=checkbox]',function(){
		var $li = $(this).parent();
		var id = $li.attr('tid');
		var istick = $(this).prop('checked');
		$.post('http://localhost:3000/update',{id:id,isTick:istick},function(data){
			var data = JSON.parse(data);
			if(data.status=='1'){
				if(istick){
					$li.find('span').addClass('del');
				}else{
					$li.find('span').removeClass('del');
				}
			}
		})
	})
	$('ul').on('dblclick','span',function(){
		var $li = $(this).parent();
		$(this).hide();
		$li.find('.text2').val($(this).html());
		$li.find('.text2').show().focus();
	})
	$('ul').on('blur','input[type=text]',function(){
		var id = $(this).parent().attr('tid');
		var str = $(this).val().trim();
		$(this).hide();
		$(this).siblings('span').html($(this).val()).show();
		$.post('http://localhost:3000/updatename',{id:id,name:str},function(data){
			console.log(data);
			if(data.status=='1'){

			}
		})
	})
	//把文本框的值以li的形式添加到html中
	function rand(arr){
		var html = '';   //这个方法不能使用append方法
		for(var i = 0,leng =arr.length;i<leng;i++){
	    	if(arr[i].isTick == 1){

				html +='<li tid="'+ arr[i].id +'">' + '<input type="checkbox" checked>' +'<span class = "del">'+ arr[i].name +'</span>' + '<input type="text" class = "text2">' +'<button>删除</button>' +'</li>';

	    	}else{
				html +='<li tid="'+ arr[i].id +'">' + '<input type="checkbox" >' +'<span>'+ arr[i].name +'</span>'+ '<input type="text" class = "text2">' +'<button>删除</button>' +'</li>';

	    	}
	    }
		$('ul').html(html);
//		$('b').html(arr.length);

	}



</script>
</body>
</html>
